.carrinho {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 20px;
}

.carrinho-lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carrinho-item {
    background-color: #7C0D12;
    border-radius: 12px;
    padding: 12px 16px;
    position: relative;
}

.carrinho-lista img {
    max-width: 150px;
}

.carrinho-lista li {
    display: flex;
}

.carrinho-item-text {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.carrinho-item-text h3 {
    color: white;
}


#carrinho-item-menos,
#carrinho-item-mais {
    padding: 3px 12px;
    background-color: #7C0D12;
}

.carrinho-item-text input {
    width: 50px;
    text-align: center;
}

.carrinho-produtos {
    color: #fff;
}

.carrinho-produtos h2 {
    color: black;
    margin: 12px 16px;
}

.btn-remover-item {
    max-width: 36px;
    max-height: 36px;
    position: absolute;
    right: 12px;
    bottom: 12px;
    
}

.btn-remover-item img {
    max-width: 36px;
    max-height: 36px;
    
}

.carrinho-resumo {
    background-color: rgb(218, 218, 218);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    box-shadow: 5px 5px 5px grey;
    max-height: 600px;
    margin-top: 60px;
    border-radius: 12px;
}

.carrinho-resumo>div {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.carrinho-resumo a {
    padding: 12px 14px;
    color: white;
    background-color: #A7262F;
    border-radius: 6px;
    text-align: center;
    max-width: 200px;
    align-items: center;
    text-decoration: none;
}

.carrinho-resumo h1 {
    text-align: end;

}

.btn-quantidade {
    background-color: #7C0D12;
    text-decoration: none;
    border-radius: 100%;
    color: #fff;
}

.valores {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.valores hr {
    width: 200px;
}

main {
    min-height: 560px;
}

footer {
    width: 100%;
}

/* Fim do Footer */
@media screen and (max-width: 800px) {
    .carrinho {
        display: flex;
        flex-direction: column-reverse;
    }
}